/*je commence pas l'installation des polices d'écriture, ensuite déclaration des régles css body et générales (h1, p,...)
pour continuer dans le plus précis avec les class et les id */

/*contact pour maintenance ou renseignement sur le code : cidja@hotmail.fr */

/*Installation des polices d'écritures */


@font-face{ /*police d'écriture pour les symboles, avec plusieurs formats */
    font-family: fontawesome-webfont;
    src: url('fonts/webfonts/fa-brands-400.eot') format('eot');
	src: url('fonts/webfonts/fa-brands-400.svg') format('svg');
    src: url('fonts/webfonts/fa-brands-400.ttf') format('truetype');
    src: url('fonts/webfonts/fa-brands-400.woff') format('woff');
    src: url('fonts/webfonts/fa-brands-400.woof2') format('woff2');
    src: url('fonts/webfonts/fa-regular-400.eot') format('eot');
	src: url('fonts/webfonts/fa-regular-400.svg') format('svg');
    src: url('fonts/webfonts/fa-regular-400.ttf') format('truetype');
    src: url('fonts/webfonts/fa-regular-400.woff') format('woff');
    src: url('fonts/webfonts/fa-regular-400.woff2') format('woff2');
    src: url('fonts/webfonts/fa-solid-900.eot') format('eot');
	src: url('fonts/webfonts/fa-regular-400.svg') format('svg');
    src: url('fonts/webfonts/fa-solid-900.ttf') format('truetype');
    src: url('fonts/webfonts/fa-solid-900.woff') format('woff');
    src: url('fonts/webfonts/fa-solid-900.woff2') format('woff2');
    
}



html, body {
    position: relative;
    height: 100%;
  }
  body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
  }
  .swiper-container {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  
  

*,*::before, *::after {box-sizing: border-box;} /* */


.textGreen, #textGreen, .aLinkGreen{
  color: #91bd3a;
}

/*-----------------Navbar Section -------------------------------*/
.nav-item > .nav-link, .navbar-brand{
  font-size: 25px;
  color: white !important;
}

/*-----------------Title Section---------------------------------*/


/*-----------------Section services -----------------------------*/
.marginServiceSection{
    height: 60px;
}

.circle{
  border: 1px solid grey;
  border-radius: 50px;
}
.iconTree{
  margin-right: 20px; /*écartement du texte par rapport au texte */
  color: rgb(93,188,210);
  border: 1px solid grey;
  border-radius: 50px; /*pour faire un rond */
  height: 77px;
  width: 77px;
  padding: 15px;
}
.icon{ /*placement de la bordure autour des icones */
  margin-right: 20px; /*écartement du texte par rapport au texte */
  color: rgb(93,188,210);
  border: 1px solid grey;
  border-radius: 50px; /*pour faire un rond */
  height: 77px;
  width: 77px;
  padding: 10px;
}

.circle_para_services{ /*permet de couper le border du trait */
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: white;
}
.iconColor{
  color: #91bd3a;
}

.paraServices{
  text-align: justify;
}

/*-----------------------Projects Section -----------------------*/
#projectsSection{
  background-color: #91bd3a;
  border-radius: 20px;
  
}
/************************Map Section******************************/
#map{
    width: 100%;
    height: 350px;
    border-radius: 25px;
    box-shadow: 7px 8px 5px 0px #71729B;
}


/**********************Contact Section **************************/
#textContact{
  background-color: RGBa(32,201,151, 0.6);
  border-radius: 20px;

}
.textWhite > a{
  color: white !important;
}